<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <th:block th:include="fragments/MainHead :: head"></th:block>
</head>

<body>
<div th:fragment="main-navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">JOHNSON CONTROLS</a>
            </div>

            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/products}">PRODUCTS</a></li>
                    <li><a th:href="@{/resource}">RESOURCE</a></li>
                    <li><a th:href="@{/services}">SERVICES</a></li>
                    <li><a th:href="@{/contact}">CONTACT US</a></li>
                    <li><a th:href="@{/newuser}"><span
                            class="glyphicon glyphicon-user"></span> SIGNUP</a></li>
                    <li><a th:href="@{/login}"><span
                            class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>