<!DOCTYPE HTML>

<html xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/MainHead :: head"></th:block>
    <th:block th:include="fragments/SidebarHead :: head"></th:block>
    <link href="../css/adminLayout.css" rel="stylesheet" th:href="@{/css/adminLayout.css}"
          type="text/css"></link>
</head>

<body style="background-color: #FFF;">
<div th:replace="fragments/MainNavbar :: main-navbar"></div>

<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/AdminNavbar :: admin-navbar"></div>
</div>

<div class="wrapper">

    <!-- sidebar -->
    <div class="col-lg-2">
        <div class="container-fluid">
            <div th:replace="fragments/SidebarAdmin :: sidebar"></div>
        </div>
    </div>

    <!-- main -->
    <div class="col-lg-10  adminmainhead">
        <div class="container-fluid">
            <div class="well well-sm well-head">
                <span style="margin-left: 10px;"> User Permissions </span>
            </div>


        </div>
    </div>
    <!-- main -->
    <div class="col-lg-6 adminbodyhead">
        <div class="container-fluid">
            <form method="POST"
                  th:action="@{/admin/changepassword}" th:object="${changepassword}">
                <!-- 	<input type="hidden" th:field="*{id}" th:value="${user.id}" /> -->
                <div class="h13">Change Password</div>
                <hr></hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="inputlabel" for="currentPassword"
                                   style="margin-top: 7px;">Current Password</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="form-group">
                            <input class="form-control input-md" placeholder="Current Password"
                                   required="required" th:field="*{oldPassword}"
                                   type="password"/>
                        </div>
                        <p class="alert alert-danger fade in" th:if="${param.invalidOldPassword}">
                            <strong>Incorrect Old Password</strong>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="inputlabel" for="newPassword"
                                   style="margin-top: 7px;">New Password</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="form-group">
                            <input class="form-control input-md" placeholder="New Password"
                                   required="required" th:field="*{newPassword}"
                                   type="password"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="inputlabel" for="confirmPassword"
                                   style="margin-top: 7px;">Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="form-group">
                            <input class="form-control input-md" placeholder="Confirm Password"
                                   required="required" th:field="*{confirmPassword}"
                                   type="password"/>
                        </div>
                        <p class="alert alert-danger fade in" th:if="${param.passwordNotMatched}">
                            <strong>Password Does not Matched </strong>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <input class="btn btn-block btn-md" type="reset" value="Cancel"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="form-group">
                            <input class="btn btn-primary btn-block btn-md" type="submit"
                                   value="Save"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-4">
        <img alt="Product" style="width: 100%; margin-left: 10px; margin-top: 80px;"
             th:src="@{/img/Products.png}"/>
    </div>
</div>
</body>
</html>