<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="fragments/MainHead :: head"></th:block>
    <th:block th:include="fragments/ListHead :: head"></th:block>

    <script type="text/javascript">
	$(document).ready(function() {
		var table = $('#customerlistTable').DataTable({
			"sAjaxSource" : "/admin/customerlist",
			"sAjaxDataProp" : "",
			"pageLength" : 10,
			"info" : true,
			"autoWidth" : true,
			"lengthChange" : false,
			"order" : [ [ 0, "asc" ] ],
			"aoColumns" : [{  
				'mData' : "id" 
			}, {
				"mData" : "customerName"
			}, {
				"mData" : "customerMobile"
			}, {
				"mData" : "customerEmail"
			}, {
				"mData" : "customerState"
			}, {
				"mData" : "customerCity"
			}, {
				"mData" : "id",
				"render": function ( data, type, row, meta ) {
					return ('<a class="btn btn-info btn-sm" href="/admin/customer/update/'+row.id+'">' + 'Edit' + '</a>'+' ' + '<a class="btn btn-danger btn-sm" href="/admin/customer/delete/'+row.id+'">' + 'Delete' + '</a>');
				}
			}]
		});
	
		$('#search-inp').on('keyup', function() {
			table.search($(this).val()).draw();
		});
		
		table.column(0).visible(false);
	});

    </script>
</head>

<body>
<div th:replace="fragments/AdminNavbar :: admin-navbar"></div>
<div class="wrapper">

    <!-- sidebar -->
    <div class="col-lg-2">
        <div class="container-fluid">
            <div th:replace="fragments/SidebarAdmin :: sidebar"></div>
        </div>
    </div>

    <!-- main -->
    <div class="col-lg-10  adminlisthead">
        <div class="container-fluid">
            <div class="well well-sm well-head">
                <span style="margin-left: 10px;"> Customer List </span>
            </div>


        </div>
    </div>
    <!-- main -->
    <div class="col-lg-10 adminlistbody">
        <div class="container-fluid">
            <form method="get" th:action="@{/admin/newcustomer}">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="form-group buttonposition">
                        <button class="btn btn-primary btn-block btn-md">
                            Add New Customer
                        </button>
                    </div>
                </div>
                <input class="form-control" id="search-inp" placeholder="Search"
                       type="search"/>
            </form>

            <table class="display table dataTable no-footer"
                   id="customerlistTable">
                <thead style="background: darkcyan;">
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Customer Mobile</th>
                    <th>Customer Email</th>
                    <th>Customer State</th>
                    <th>Customer City</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>