<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/MainHead :: head"></th:block>
    <link href="../css/home.css" rel="stylesheet" th:href="@{/css/home.css}" type="text/css"></link>
</head>

<body style="background-color: gainsboro;">
<div th:replace="fragments/MainNavbar :: main-navbar"></div>

<div class="container">
    <div class="row">

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <div class="formshadowForgotPassword">
                <form method="POST" th:action="@{/forgotpassword}"
                      th:object="${forgotpassword}">
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <img alt="Person" style="width: 40%; margin-left: 100px; margin-top: 10px; margin-bottom: 25px;"
                             th:src="@{/img/ForgotPassword.png}"/>
                        <br></br>
                        <div class="h13">Forgot Password</div>
                        <hr></hr>
                        <p class="alert alert-danger fade in"
                           th:if="${param.emailNotFound}">
                            <strong>Error ! Email entered is not registered.</strong>
                        </p>
                        <p class="alert alert-success" th:if="${param.success}">Your
                            password reset link has been sent successfully.</p>
                        <div class="form-group">
                            <i class="fa fa-signal fa-2x"></i> <input class="form-control input-lg"
                                                                      id="email" name="email"
                                                                      placeholder="Enter Email"
                                                                      required="required" tabindex="1"
                                                                      type="email"/>
                        </div>
                        <div class="form-group">
                            <div>
                                <input class="btn btn-success btn-block btn-lg" tabindex="7"
                                       type="submit" value="Send"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>