<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/MainHead :: head"></th:block>
    <link href="../css/home.css" rel="stylesheet" th:href="@{/css/home.css}" type="text/css"></link>
</head>

<body>
<div th:replace="fragments/MainNavbar :: main-navbar"></div>

<div class="container">
    <div class="row">

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <div class="formshadowResetPassword">
                <form method="POST" th:action="@{/resetpassword}"
                      th:object="${resetpassword}">
                    <input th:field="*{resetToken}" type="hidden"/> <img
                        alt="Person" style="width: 30%; margin-left: 100px; margin-top: 10px; margin-bottom: 25px;"
                        th:src="@{/img/ResetPassword.png}"/>
                    <br></br>
                    <div class="h13">Reset Password</div>
                    <hr></hr>

                    <div class="form-group">
                        <input class="form-control input-lg" id="password" name="password"
                               placeholder="Enter New Password" required="required"
                               tabindex="1" th:field="*{password}" type="password"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <input class="btn btn-success btn-block btn-lg" tabindex="7"
                                   type="submit" value="Reset Password"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>